.cart-btn{
  background-color: white;
  border: none;
}

.cart-logo {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  width: auto;
  height: 50px;
  padding-right: 60px;
  margin-top: 20px;
}

.cart-logo i {
  font-size: 55px;
}
