<app-filter [all]="totalProductCount"
            [inStock]="totalProductInStock"
            [outOfStock]="totalProductOutOfStock"
              (selectedFilterRadioButtonChanged)="onFilterChanged($event)"></app-filter>

<div class="ekart--product--container">

  <ng-container *ngFor="let prod of products" (click)="selectedProduct = prod">

    <app-product [product]="prod"
                 *ngIf=" searchText === '' || prod.name.toLowerCase().includes(searchText)"
                 (click)="selectedProduct = prod">

    </app-product>

  </ng-container>
</div>
